@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body {
    background-color: black;
}
.main {
    position: relative;
    top: -150px;
    height: 100vh;
    width: 350px;
    transform: perspective(100px) rotateX(32deg);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
}
.header {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 25px;
}
.content {
    text-align: justify;
    padding-bottom: 10px;

}
.text {
    position: absolute;
    color: gold;
    background-color: black;
    animation-name: effect;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes effect {
    from {
        top: 430px;
    }
    to {
        top: 0px;
    }
}