footer {
    width: 100%;
    height: 145px;

}
.footer-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 88%;
    margin: 0px auto 39px;
    padding-top: 42px;
}
.footer-navbar {
    padding-top: 9px;
}
.footer-logo {
    margin: 0px auto;
}
.footer-icons {
    padding-top: 9px;
}
.social-icon {
    font-size: 20px;
    color: #cecfcf;
    margin-left: 14px;
    float: right;
}
.copyright-container {
    margin: 0px auto 0px;
    width: 340px;
}
.copyright-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #a7aaab;
    text-align: center;
}