.content-container {
    background-color: #f5f6f6;
}
.content-navbar {
    width: 88%;
    margin: 0 auto 17px;
    border-bottom: 1px solid #e0e1e2;
    padding-top: 42px;
    padding-bottom: 3px;
}
