@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
}
.container {
    height: 736px;
    width: 1192px;
    background-color: #3a4965;
    padding-top: 24px;
    padding-left: 22px;
}
table  {
    border-collapse: collapse;
    height: 682px;
    width: 1140px;
    text-align: center;
    background-color: #fafafa;
}
table th, td {
    vertical-align: middle;
}
th {
    font-weight: bold;
}
th:first-child {
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
}
th:first-child span {
    font-size: 30px;
}
th:nth-child(even) {
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}
th:nth-child(3) {
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
td {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}
th:nth-child(1n+2) {
    height: 70px;
}
.price_item {
    height: 86px;
    font-weight: bold;
    font-size: 60px;
    color: rgba(72, 72, 72, 255);
}
.price_item p {
    display: inline-block;
    margin-right: -18px;
}
.price_item div {
    display: inline-block;
    font-size: 24px;
    text-align: left;
}
.price_item span {
    font-weight: normal;
}
.content_row {
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    height: 69px;
    text-transform: uppercase;
}
.content_row:nth-child(odd) {
    background-color: #f2f2f2;

}
.content_row:nth-child(even) {
    background-color: #e3e3e3;
}
.button_item {
    height: 110px;
}
.contact_us {
    background-color: #dddddd;
}
.contact_us button {
    background-color: #484848;
    border-top: 7px solid #484848;
    border-bottom: 7px solid #404040;
}
.contact_us button:hover {
    background-color: #404040;
    border-top: 7px solid #404040;
    transition: all 0.4s ease-out;
}
.green {
    background-color: #89c331;
}
#green_btn {
    border-top: 7px solid #89c331;
    border-bottom: 7px solid #79b027;
}
#green_btn:hover {
    background-color: #79b027;
    border-top: 7px solid #79b027;
    transition: all 0.4s ease-out;
}
.red {
    background-color: #f04a56;
}
#red_btn {
    border-top: 7px solid #f04a56;
    border-bottom: 7px solid #df3a46;
}
#red_btn:hover {
    background-color: #df3a46;
    border-top: 7px solid #df3a46;
    transition: all 0.4s ease-out;
}
.blue {
    background-color: #20807c;
}
#blue_btn {
    border-top: 7px solid #20807c;
    border-bottom: 7px solid #16736f;
}
#blue_btn:hover {
    background-color: #16736f;
    border-top: 7px solid #16736f;
    transition: all 0.4s ease-out;
}
i {
    color: #848484;
    padding-right: 13px;
}
button {
    height: 49px;
    width: 192px;
    border-radius: 3px;
    border: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}