body {
    background-image: url("img/background.png");
    background-size: cover;
    margin: 0;
}
header {
    height: 56px;
    background-color: rgba(0,0,0,0.4);
    position: relative;
}
.left_header_text {
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: left;
    position: absolute;
    top: 15px;
    left: 81px;
    cursor: pointer;
}
.left_header_text:hover {
    color: #3cb878;
    transition: all 0.3s ease-out;
}
.right_header_block {
    float: right;
    position: absolute;
    top: 16px;
    right: 75px;
}
.right_header_text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    height: 19px;
    padding-left: 24px;
    margin-left: 25px;
    border-left: 1px solid rgba(255,255,255,0.1);
    float: right;
}
.right_header_text span {
    color: #327b55;
    cursor: pointer;
}
.right_header_text span:hover {
    text-decoration: underline;
}
.sprites {
    float: right;
}
.img {
    display: inline-block;
    background: url("img/spritesheet.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.calendar {
    background-position: -34px -5px;
    width: 19px;
    height: 19px;
    margin-right: 28px;
}
.calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}
.forum {
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
    margin-right: 28px;
}
.forum:hover {
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
}
.journey {
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
}
.journey:hover {
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
}
.form_block {
    width: 444px;
    height: 584px;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
}
.inside_form_block {
    width: 325px;
    height: 523px;
    /*border: 1px solid black;*/
    position: absolute;
    top: 29px;
    left: 60px;
}
.top_text {
    position: absolute;
    top: -24px;
    /*border: 1px solid black;*/
    width: 325px;
}
.sign_up {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    text-align: center;
    float: left;
}
.log_in {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    text-align: left;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
.log_in:hover {
    text-decoration: underline;
}
.top_button {
    position: absolute;
    top: 34px;
    width: 325px;
}
.facebook {
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 4px;
    float: left;
    border: 0;
    cursor: pointer;
}
.facebook:hover {
    background-color: #264b96;
    transition: all 0.5s ease-out;
}
.f_logo {
    font-size: 24px;
    font-family: Segoe UI;
    color: rgba(255, 255, 255, 255);
    float: left;
    font-weight: 500;
    position: absolute;
    left: 20px;
    bottom: 8px;
}
.f_text_logo {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: right;
    height: 28px;
    border-left: 1px solid #2b54a5;
    padding-left: 20px;
    padding-right: 19px;
}
.facebook_text {
    margin-top: 5px;
}
.google {
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border-radius: 4px;
    float: right;
    border: 0;
    position: relative;
    cursor: pointer;
}
.google:hover {
    background-color: #c3412c;
    transition: all 0.5s ease-out;
}
@font-face {
    font-family: Product Sans;
    src: url("ProductSans-Regular.ttf");
}
.G_logo {
    font-size: 18px;
    font-family: Product Sans;
    color: rgba(255, 255, 255, 255);
    float: left;
    font-weight: 900;
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.G_text_logo {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: right;
    height: 28px;
    border-left: 1px solid #c8422d;
    padding-left: 28px;
    padding-right: 28px;
}
.google_text {
    margin-top: 5px;
}
.or_block {
    position: absolute;
    top: 105px;
}
.or_line {
    height: 1px;
    width: 135px;
    background-color: #eaeaea;
    float: left;
    margin-top: 12px;
}
.or_text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(132, 132, 132, 255);
    text-align: left;
    float: left;
    margin-right: 19px;
    margin-left: 19px;
}
form {
    position: absolute;
    top: 139px;
}
.enter_form input {
    height: 46px;
    width: 305px;
    margin-bottom: 9px;
    padding-left: 17px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(67, 67, 67, 255);
    text-align: left;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
}
.enter_form input:focus {
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}
.checkbox {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);
    text-align: left;
    position: absolute;
    top: 440px;
}
.checkbox span {
    color: rgba(60, 184, 120, 255);
}
.checkbox span:hover {
    text-decoration: underline;
}
.checkbox label {
    cursor: pointer;
}
.create_account {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    width: 325px;
    height: 46px;
    border-radius: 4px;
    border: 0;
    background-color: #3cb878;
    position: absolute;
    top: 480px;
    cursor: pointer;
}
.create_account:hover {
    background-color: #329a65;
    transition: all 0.5s ease-out;
}
.green_block {
    width: 19px;
    height: 19px;
    background-color: #3cb878;
    position: absolute;
    top: 29px;
}