body {
    width: 100vm;
}
.background_top {
    background-image: url("../img/top-back.jpeg");
    /*height: 1280px;*/
    background-size: cover;
    background-attachment: fixed;
}
.background_bottom {
    background-image: url("../img/bottom-back.jpeg");
    /*height: 1280px;*/
    background-size: cover;
    background-attachment: fixed;
}
header {
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.left_logo {
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_search {
    width: 70px;
    background-color: #1a1d20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_logo_text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    vertical-align: center;
}
.navbar {
    width: 701px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a {
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.latest_news_section {
    display: flex;
    flex-direction: column;
    height: 390px;
    justify-content: center;
    align-items: center;
}
.latest_news_section_header {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier;
    font-size: 27px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-bottom: 55px;
}
button {
    border: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    cursor: pointer;
}
.green {
    background-color: #89ca62;
    margin-right: 20px;
}
.blue {
    background-color: #14b9d5;
}
.most_popular_posts_section {
    height: 1030px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.most_popular_posts_header {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 51px;
}
.most_popular_posts_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 828px;
    width: 1170px;
}
.most_popular_posts_content div {
    width: 370px;
}
.mpp_block1 {
    background-image: url("../img/post-2.png");
    height: 259px;
}
.mpp_block2 {
    background-image: url("../img/post-5.png");
    height: 260px;
}
.mpp_block3 {
    background-image: url("../img/post-3.png");
    height: 380px;
}
.mpp_block4 {
    background-image: url("../img/post-6.png");
    height: 247px;
}
.mpp_block5 {
    background-image: url("../img/post-4.png");
    height: 290px;
}
.mpp_block6 {
    background-image: url("../img/post-1.png");
    height: 380px;
}
.mpp_text {
    display: block;
    background-color: #ffffff;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
}
.mpp_main_block {
    margin-bottom: 31px;
}
.most_popular_clients_section {
    height: 598px;
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    grid-auto-rows: 100px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.most_popular_clients_header {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    grid-column-start: 1;
    grid-column-end: 5;
}
.blue_line {
    width: 60px;
    height: 0px;
    border-bottom: 3px solid #169cb4;
    grid-column-start: 1;
    grid-column-end: 5;
}
.top_rated_section {
    /*height: 381px;*/
    background-color: #ffffff;
}
.top_rated_block {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: 70px 60%;
    /*justify-items: center;*/
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}
.blue_header {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
}
.top_rated_block .blue_header {
    grid-column-start: 1;
    grid-column-end: 8;
}
.hot_news_section {
    height: 1683px;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 80px auto;
    align-items: start;
    justify-items: center;
}
.hot_news_block {
    height: 1480px;
    width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: 259px 416px 416px 259px;
    justify-content: space-between;
    align-content: space-between;
}
.hot_news_block div {
    background-color: #f9f7f7;
}
.hn_block1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.hn_block1 img {
    float: left;
}
.hn_block3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.hn_block4 {
    grid-column-start: 3;
    grid-column-end: 5;
}
.hn_block5 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.hn_block6 {
    grid-column-start: 3;
    grid-column-end: 5;
}
.hn_block8 {
    grid-column-start: 2;
    grid-column-end: 5;
    float: right;
}
.hn_block8 img {
    float: right;
}
.hn_header_text {
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 22px;
    padding-right: 25px;
}
.hn_block2 .hn_header_text, .hn_block7 .hn_header_text {
    padding-top: 10px;
    text-align: center;
}
.hn_content_text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 1.5;
}
.hn_block1 .hn_content_text {
    padding-left: 500px;
}
.hn_block8 .hn_content_text, .hn_block8 .hn_header_text {
    padding-right: 500px;
}
#mark1, #mark2 {
    padding-top: 45px;
}
footer {
    height: 80px;
    background-color: #1d2124;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}
.footer_text {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}

