.film-item-container {
    width: 275px;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 22px;
}
.film-item-img-container {
    width: 100%;
    height: 248px;
    overflow: hidden;
    position: relative;
}
.film-item-img {
    position: relative;
}
.item-description-container {
    padding: 25px 22px 0px;
    background-color: white;
    height: 83px;
}
.item-description-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(36, 43, 45, 255);
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 11px;
}
.item-description-mark {
    float: right;
    display: inline-block;
}
.item-description-genre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(71, 195, 240, 255);
    display: block;
}