body {
    width: 1480px;
    font-family: Calibri;
}
a {
    cursor: pointer;
}
.container {
    margin-right: 100px;
    margin-left: 100px;
}
header {
    padding: 61px 0px 45px 0px;
}
.logo {
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
    font-size: 80pt;
    color: rgba(0, 0, 0, 255);
    text-align: center;
    text-decoration: none;
}
#mda {
    color: #4bcaff;
}
.header_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #35444f;
    text-align: center;
}
.header_menu li {
    display: inline-block;
    background-color: #35444f;
    padding-top: 26px;
    padding-bottom: 26px;
}
.header_menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
    font-size: 24pt;
    border-left: 1px #35444f;
    border-right: 1px #35444f;
    padding: 26px 26px;
}
.header_menu li a:hover {
    background-color: #222f3a;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
    padding: 26px 26px;
}
.left_menu_block {
    float: left;
    margin-top: 51px;
}
.left_menu {
    list-style-type: none;
    padding: 0;
    width: 344px;
    border: 1px solid #35444f;
}
.left_menu a {
    display: block;
    text-decoration: none;
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
    font-size: 26pt;

    text-align: left;
    padding: 28px 0px 28px 44px;
}
.nochange1 {
    color: rgba(73, 88, 99, 255);
}
.left_menu li a:hover {
    background-color: #dbdbdb;
    color: black;
    padding: 28px 0px 28px 69px;
}
.img_text_block {
    width: 885px;
    float: right;
    margin-top: 67px;
}
.img_block {
    height: 529px;
    line-height: 529px;
    border: 1px solid #35444f;
    text-align: center;
    background-color: white;
}
img {
    vertical-align: middle;
    overflow:hidden;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.text1 {
    padding: 50px 30px 30px 30px;
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
    font-size: 14pt;
    color: rgba(44, 44, 44, 255);
}
.text2 {
    padding: 0px 30px 51px 30px;
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
    font-size: 14pt;
    color: rgba(44, 44, 44, 255);
}
footer {
    clear: both;
    margin-bottom: 30px;
}
.bottom_menu {
    list-style-type: none;
    padding: 0;
    background-color: #b4b7ba;
}
.bottom_menu li {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 25px;
}
.bottom_menu a {
    text-decoration: none;
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
    font-size: 24pt;
    text-align: left;
}
.nochange2 {
    color: rgba(12, 25, 39, 255);
}
.bottom_menu li a:hover {
    text-decoration: underline;
    color: #3a85a7;
}
.copyright {
    float: right;
    /*font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;*/
    font-size: 22pt;
    color: rgba(1, 1, 1, 255);
    padding-right: 30px;
}
