.general-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.blue-button {
    background-color: #0aaee4;
    border: 1px solid #0aaee4;
}
.white-border-button {
    background-color: transparent;
    border: 1px solid white;
}
.transparent-button {
    background-color: transparent;
    border: 1px solid transparent;
}
.normal-size-button {
    width: 110px;
    height: 33px;
}
.big-size-button {
    width: 131px;
    height: 42px;
}