header {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.header-img {
    position: relative;
    z-index: -1;
}
.header-container {
    height: 565px;
    width: 88%;
    margin: 14px auto;
}
.search-icon {
    color: white;
    font-size: 22px;
}
.header-top-buttons {
    float: right;
}
.header-bottom-buttons {
    float: right;
    padding-top: 495px;
}
.firs-bottom-button {
    margin-right: 22px;
    display: inline-block;
}
.more-icon {
    color: white;
    font-size: 18px;
}