.header-description-section {
    padding-top: 405px;
    display: inline-block;
}
.header-description-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
.header-description-genre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    display: block;
    margin-bottom: 26px;
}