.ul-general-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.a-general-style {
    text-decoration: none;
}
.li-general-style {
    display: inline-block;
}
.footer-navbar-style {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #a7aaab;
    text-align: left;
    margin-right: 14px;
}
.content-navbar-style {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0aaee4;
    text-align: center;
    margin-right: 17px;
    padding-bottom: 2px;
    }
.content-navbar-style:hover {
    font-weight: bold;
    border-bottom: 3px solid #0aaee4;
}