body {
    padding-top: 80px;
}

.show-cart li {
    display: flex;
}
.card {
    margin-bottom: 20px;
}
.card-img-additional {
    width: 200px;
    height: 200px;
    align-self: center;
}
.modal-overlay {
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8)
}
.navbar-additional {
    background-color: #292b2c!important;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}