.mark {
    width: 33px;
    height: 20px;
    border: 1px solid #0aaee4;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 3px 6px;
}