body {
    height: 768px;
    width: 1366px;
    margin: 0;
    position: relative;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.container {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.container::before {
    background-size: 100%;
    filter: brightness(50%);
    z-index: -1;
    background: url("background.png");
    content: "";
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
}
.main_block {
    width: 1065px;
    height: 699px;
    margin-top: 49px;
    margin-left: 154px;
}
header {
    height: 49px;
}
.left_block {
    width: 166px;
    height: 44px;
    float: left;
}
.logo {
    float: left;
    margin-right: 15px;
    position: absolute;
    z-index: 1;
}
.logo_alt {
    float: left;
    margin-right: 15px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    -moz-transition: all 1ms;
    -o-transition: all 1ms;
    -webkit-transition: all 1ms;
}
.left_block:hover .logo_alt {
    opacity: 1;
}
.left_block:hover .left_block_text {
    color: #f26522;
}
.left_block_text {
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: left;
    position: relative;
    bottom: 22px;
    left: 61px;
}
.milan {
    font-size: 29px;
}
.holidays {
    font-size: 18px;
}
.right_block {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    float: right;
}
.midle_body {
    margin-top: 45px;
    height: 541px;
    /*border: 1px solid white;*/
    margin-bottom: 57px;
}
.block1 {
    height: 243px;
    width: 312px;
    float: left;
    margin-right: 64px;
    margin-bottom: 54px;
}
.block2 {
    height: 243px;
    width: 312px;
    float: left;
    margin-right: 64px;
}
.block3 {
    height: 243px;
    width: 312px;
    float: left;
}
.block4 {
    height: 243px;
    width: 312px;
    clear: both;
    float: left;
    margin-right: 64px;
}
.block5 {
    height: 243px;
    width: 312px;
    float: left;
    margin-right: 64px;
}
.block6 {
    height: 243px;
    width: 312px;
    float: left;
}
.block_img {
    height: 200px;
    width: 307px;
    /*background-image: url("Layer1.png");*/
    background-size: 100%;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fefefe 0%, #040202 100%);
    border-image-slice: 1;
    overflow: hidden;
}
.under_block_text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.under_block_text:hover {
    color: #f26522;
}
.orange_block {
    height: 63px;
    width: 313px;
    background-color: #f26522;
    position: relative;
    top: 203px;
    right: 3px;
    opacity: 0;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.block_img:hover .orange_block {
    opacity: 1;
    top: 140px;
}
.orange_block_text {
    height: 30px;
    width: 273px;
    border: 1px solid transparent;
    left: 21px;
    position: relative;
    top: 16px;
}
.from {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    position: relative;
    bottom: 23px;
}
.€50 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    position: relative;
    bottom: 23px;
}
.View_Details {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    position: relative;
    bottom: 23px;
    left: 144px;
}
.View_Details::after {
    content: ">";
    font-family: Consolas;
    font-weight: bolder;
    margin-left: 15px;
    color: #f9b291;
}
.footer_text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

