body {
    width: 640px;
    font-family: 'Lato', sans-serif;
}
header {
    margin-bottom: 4px;
}
nav {
    width: 100%;
    height: 74px;
    background-color: #373c3f;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    position: relative;
}
.header__navbar_list {
    position: absolute;
    width: 243px;
    right: 0px;
    display: none;
    border: 1px solid #f3f3f3;
}
.header__navbar_list li {
    height: 41px;
    border-top: 1px solid #f3f3f3;
    color: rgba(68, 68, 68, 255);
    text-align: left;
    padding-left: 27px;
    line-height: 41px;
    vertical-align: center;
    background-color: #fafafa;
    cursor: pointer;
}
.header__navbar_list li:hover {
    background-color: #f5f5f5;
}
.header__navbar_list a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(68, 68, 68, 255);
    text-align: left;
}
.header__navbar_btn {
    width: 82px;
    height: 100%;
    background-color: #202529;
    color: rgba(255, 255, 255, 255);
    float: right;
    text-align: center;
    line-height: 74px;
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
}
.header__navbar_text {
    display: inline-block;
    padding-left: 38px;
    font-size: 24px;
    line-height: 74px;
    vertical-align: middle;
}
.company_logo--header {
    display: none;
}
.header__main_slogan {
    width: 100%;
    height: 346px;
    background-image: url("../img/header_pizza_background.png");
    background-size: cover;
}
.header__main_slogan__text {
    padding-left: 38px;
    padding-top: 20px;
    padding-bottom: 17px;
    font-size: 36px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    line-height: 1.2;
}
.header__main_slogan__link {
    padding-left: 38px;
    text-decoration: none;
    font-size: 24px;
    color: rgba(166, 214, 224, 255);
    text-align: left;
    cursor: pointer;
}
.menu_section {
    width: 100%;
}
.menu_section section {
    height: 150px;
    margin-bottom: 2px;
    display: flex;
}
.menu_section__background {
    width: 78%;
    height: 100%;
    overflow: hidden;
    position: relative;
    line-height: 150px;
    vertical-align: center;
}
.menu_section__background_text {
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.menu_section__background img {
    z-index: -1;
}
.menu_section__background--pizza_theme {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -283px;
    left: -1px;
}
.menu_section__background--salads_theme {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -235px;
    left: 0px;
}
.menu_section__background--desserts_theme {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -34px;
    left: 0px;
}
.menu_section__pointer {
    width: 22%;
    height: 100%;
    background-color: #acd8ad;
    position: relative;
}
.menu_section__pointer::before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.menu_logo {
    display: none;
}
h1 {
    font-size: 38px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    padding-top: 35px;
    padding-bottom: 9px;
    padding-left: 20px;
    text-transform: uppercase;
}
.main_menu__header--sub {
    font-size: 20px;
    color: rgba(203, 204, 206, 255);
    text-align: left;
    padding-left: 20px;
}
.main_menu__section {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 31px;
}
.main_menu__section__header--dark_theme {
    width: 100%;
    height: 75px;
    line-height: 75px;
    vertical-align: center;
    background-color: #3f4043;
    font-size: 40px;
    color: rgba(172, 216, 173, 255);
    text-align: left;
    text-transform: uppercase;
}
.main_menu__section__header--light_theme {
    width: 100%;
    height: 75px;
    line-height: 75px;
    vertical-align: center;
    background-color: #acd8ad;
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
h2 {
    padding-left: 37px;
}
.main_menu__prises {
    margin-left: auto;
    margin-right: auto;
    width: 89%;
    margin-top: 33px;
    position: relative;
}
.main_menu__prises__header {
    font-size: 30px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.main_menu__circle_icon {
    position: absolute;
    top: -11px;
    right: 0%;
    width: 49px;
    height: 49px;
}
.main_menu__wineglass_icon {
    position: absolute;
    top: 485px;
    right: 2%;
    width: 27px;
    height: 48px;
}
.main_menu__coffe_icon {
    position: absolute;
    top:-6px;
    right: -1%;
    width: 61px;
    height: 42px;
}
.main_menu__beer_icon {
    position: absolute;
    top: 485px;
    right: 2%;
    width: 43px;
    height: 42px;
}
.main_menu__prises__content {
    margin-bottom: 16px;
}
.main_menu__prises__content--last_block {
    margin-bottom: 37px;
}
.main_menu__prises__article {
    font-size: 27px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    display: inline-block;
    float: left;
    padding-bottom: 15px;
}
.main_menu__prises__prise {
    font-size: 27px;
    color: rgba(63, 64, 67, 255);
    text-align: right;
    font-weight: bold;
    display: inline-block;
    float: right;
}
.main_menu__prises__description {
    font-size: 18px;
    color: rgba(63, 64, 67, 255);
    text-align: justify;
    display: inline-block;
    clear: both;
    line-height: 1.17;
}
footer {
    margin-top: 118px;
    width: 100%;
    height: 97px;
    background-color: #acd8ad;
    font-size: 21px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 1.3;
}
.company_logo--footer {
    display: none;
}
.footer__text--upper {
    padding-top: 21px;
}
