body {
    width: 320px;
    font-family: 'Lato', sans-serif;
}
header {
    margin-bottom: 4px;
}
nav {
    width: 100%;
    height: 37px;
    background-color: #373c3f;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    position: relative;
}
.header__navbar_list {
    position: absolute;
    width: 182px;
    right: 0px;
    display: none;
    border: 1px solid #f3f3f3
}
.header__navbar_list li {
    height: 31px;
    border-top: 1px solid #f3f3f3;
    color: rgba(68, 68, 68, 255);
    text-align: left;
    padding-left: 12px;
    line-height: 31px;
    vertical-align: center;
    background-color: #fafafa;
    cursor: pointer;
}
.header__navbar_list li:hover {
    background-color: #f5f5f5;
}
.header__navbar_list a {
    text-decoration: none;
    font-size: 12px;
    color: rgba(68, 68, 68, 255);
    text-align: left;
}
.header__navbar_btn {
    width: 41px;
    height: 100%;
    background-color: #202529;
    color: rgba(255, 255, 255, 255);
    float: right;
    text-align: center;
    line-height: 37px;
    vertical-align: middle;
    font-size: 13.5px;
    cursor: pointer;
}
.header__navbar_text {
    display: inline-block;
    padding-left: 19px;
    font-size: 13.5px;
    line-height: 37px;
    vertical-align: middle;
}
.company_logo--header {
    display: none;
}
.header__main_slogan {
    width: 100%;
    height: 173px;
    background-image: url("../img/header_pizza_background.png");
    background-size: cover;
}
.header__main_slogan__text {
    padding-left: 21px;
    padding-top: 14px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    line-height: 1.4;
}
.header__main_slogan__link {
    padding-left: 21px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(166, 214, 224, 255);
    text-align: left;
    cursor: pointer;
}
.menu_section {
    width: 100%;
}
.menu_section section {
    height: 75px;
    margin-bottom: 1px;
    display: flex;
}
.menu_section__background {
    width: 78%;
    height: 100%;
    overflow: hidden;
    position: relative;
    line-height: 75px;
    vertical-align: center;
}
.menu_section__background_text {
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.menu_section__background img {
    z-index: -1;
}
.menu_section__background--pizza_theme {
    position: absolute;
    width: 320px;
    height: 320px;
    top: -233px;
    left: -64px;
}
.menu_section__background--salads_theme {
    position: absolute;
    width: 250px;
    height: 250px;
    top: -164px;
    left: 0px;
}
.menu_section__background--desserts_theme {
    position: absolute;
    width: 250px;
    height: 250px;
    top: -25px;
    left: 0px;
}
.menu_section__pointer {
    width: 22%;
    height: 100%;
    background-color: #acd8ad;
    position: relative;
}
.menu_section__pointer::before {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.menu_logo {
    display: none;
}
h1 {
    font-size: 20px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    padding-top: 21px;
    padding-bottom: 3px;
    padding-left: 9px;
    text-transform: uppercase;
}
.main_menu__header--sub {
    font-size: 10px;
    color: rgba(203, 204, 206, 255);
    text-align: left;
    padding-left: 9px;
}
.main_menu__section {
    width: 100%;
    margin-top: 11px;
    margin-bottom: 31px;
}
.main_menu__section__header--dark_theme {
    width: 100%;
    height: 37px;
    line-height: 37px;
    vertical-align: center;
    background-color: #3f4043;
    font-size: 20px;
    color: rgba(172, 216, 173, 255);
    text-align: left;
    text-transform: uppercase;
}
.main_menu__section__header--light_theme {
    width: 100%;
    height: 37px;
    line-height: 37px;
    vertical-align: center;
    background-color: #acd8ad;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
h2 {
    padding-left: 18px;
}
.main_menu__prises {
    margin-left: auto;
    margin-right: auto;
    width: 89%;
    margin-top: 17px;
    position: relative;
}
.main_menu__prises__header {
    font-size: 15px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.main_menu__circle_icon {
    position: absolute;
    top: -6px;
    right: 0%;
    width: 25px;
    height: 25px;
}
.main_menu__wineglass_icon {
    position: absolute;
    top: 242px;
    right: 2%;
    width: 13px;
    height: 24px;
}
.main_menu__coffe_icon {
    position: absolute;
    top:-4px;
    right: -1%;
    width: 30px;
    height: 21px;
}
.main_menu__beer_icon {
    position: absolute;
    top:244px;
    right: 2%;
    width: 21px;
    height: 20px;
}
.main_menu__prises__content {
    margin-bottom: 10px;
}
.main_menu__prises__content--last_block {
    margin-bottom: 20px;
}
.main_menu__prises__article {
    font-size: 13px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    display: inline-block;
    float: left;
    padding-bottom: 7px;
}
.main_menu__prises__prise {
    font-size: 13px;
    color: rgba(63, 64, 67, 255);
    text-align: right;
    font-weight: bold;
    display: inline-block;
    float: right;
}
.main_menu__prises__description {
    font-size: 9px;
    color: rgba(63, 64, 67, 255);
    text-align: justify;
    display: inline-block;
    clear: both;
    line-height: 1.17;
}
footer {
    margin-top: 50px;
    width: 100%;
    height: 55px;
    background-color: #acd8ad;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 1.4;
}
.company_logo--footer {
    display: none;
}
.footer__text--upper {
    padding-top: 10px;
}
