body {
    width: 980px;
    font-family: 'Lato', sans-serif;
}
header {
    margin-bottom: 5px;
}
nav {
    width: 100%;
    height: 97px;
    background-color: #373c3f;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    position: relative;
}
.header__navbar_list {
    padding-left: 30px;
    padding-top: 42px;
}
.header__navbar_list li {
    color: rgba(255, 255, 255, 255);
    text-align: left;
    cursor: pointer;
    display: inline-block;
    padding-right: 30px;
}
.header__navbar_list a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.company_logo--header {
    position: absolute;
    top: 8px;
    right: 3%;
}
.header__navbar_btn {
    width: 82px;
    height: 100%;
    background-color: #202529;
    color: rgba(255, 255, 255, 255);
    float: right;
    text-align: center;
    line-height: 74px;
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.header__navbar_text {
    display: inline-block;
    padding-left: 38px;
    font-size: 24px;
    line-height: 74px;
    vertical-align: middle;
    display: none;
}
.header__main_slogan {
    width: 100%;
    height: 530px;
    background-image: url("../img/header_pizza_background.png");
    background-size: cover;
}
.header__main_slogan__text {
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 51px;
    font-size: 55px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    line-height: 1.2;
}
.header__main_slogan__link {
    padding-left: 30px;
    text-decoration: none;
    font-size: 35px;
    color: rgba(166, 214, 224, 255);
    text-align: left;
    cursor: pointer;
}
.menu_section {
    width: 100%;
    display: grid;
    grid-template-rows: 327px;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.menu_section__background {
    position: relative;
    line-height: 327px;
    vertical-align: center;
}
.menu_section__background_text {
    font-size: 38px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.menu_section__background img {
    z-index: -1;
    width: 327px;
    height: 327px;
    position: absolute;
}
.menu_section__pointer {
    width: 22%;
    height: 100%;
    background-color: #acd8ad;
    position: relative;
    display: none;
}
.menu_section__pointer::before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 3px solid white;
    border-right: 3px solid white;
    display: none;
}
.main_menu {
    display: flex;
    flex-wrap: wrap;

}
.main_menu__header {
    position: relative;
    width: 100%;
}
.menu_logo {
    position: absolute;
    width: 109px;
    height: 89px;
    top: 50px;
    right: 3%;
}
h1 {
    font-size: 34px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    padding-top: 68px;
    padding-bottom: 8px;
    padding-left: 26px;
    text-transform: uppercase;
}
.main_menu__header--sub {
    font-size: 20px;
    color: rgba(203, 204, 206, 255);
    text-align: left;
    padding-left: 29px;
}
.main_menu__section {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 31px;
}
.main_menu__section__header--dark_theme {
    width: 100%;
    height: 75px;
    line-height: 75px;
    vertical-align: center;
    background-color: #3f4043;
    font-size: 34px;
    color: rgba(172, 216, 173, 255);
    text-align: left;
    text-transform: uppercase;
}
.main_menu__section__header--light_theme {
    width: 100%;
    height: 75px;
    line-height: 75px;
    vertical-align: center;
    background-color: #acd8ad;
    font-size: 34px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
h2 {
    padding-left: 17px;
}
.main_menu__prises {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    margin-top: 38px;
    position: relative;
}
.main_menu__prises__header {
    font-size: 26px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 42px;
}
.main_menu__circle_icon {
    position: absolute;
    top: -9px;
    right: -1%;
    width: 42px;
    height: 42px;
}
.main_menu__wineglass_icon {
    position: absolute;
    top: 482px;
    right: -1%;
    width: 25px;
    height: 44px;
}
.main_menu__coffe_icon {
    position: absolute;
    top: -10px;
    right: 0%;
    width: 56px;
    height: 39px;
}
.main_menu__beer_icon {
    position: absolute;
    top: 483px;
    right: 1%;
    width: 40px;
    height: 39px;
}
.main_menu__prises__content {
    margin-bottom: 24px;
}
.main_menu__prises__content--last_block {
    margin-bottom: 52px;
}
.main_menu__prises__article {
    font-size: 24px;
    color: rgba(63, 64, 67, 255);
    text-align: left;
    display: inline-block;
    float: left;
    padding-bottom: 15px;
}
.main_menu__prises__prise {
    font-size: 24px;
    color: rgba(63, 64, 67, 255);
    text-align: right;
    font-weight: bold;
    display: inline-block;
    float: right;
}
.main_menu__prises__description {
    font-size: 16px;
    color: rgba(63, 64, 67, 255);
    text-align: justify;
    display: inline-block;
    clear: both;
    line-height: 1.17;
}
footer {
    margin-top: 2px;
    width: 100%;
    height: 97px;
    background-color: #acd8ad;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
    line-height: 1.4;
    position: relative;
}
.company_logo--footer {
    position: absolute;
    top: 8px;
    left: 3%;
}
.footer__text--upper {
    padding-top: 35px;
}
.footer__text--lower {
    padding-right: 40px;
}
footer p {
    display: inline-block;
}