@import url(style_320.css) screen and (max-width: 320px);
@import url(style_640.css) screen and (min-width: 321px) and (max-width: 640px);
@import url(style_980.css) screen and (min-width: 641px) and (max-width: 980px);
@import url(style_1200.css) screen and (min-width: 981px);


