body {
    width: 1280px;
    font-family: Calibri;
}
section {
    height: 10px;
    width: 100%;
}
.header_link {
    margin: 32px 0px 35px 332px;
    /*font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;*/
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.link1 {
    margin-right: 65px;
}
.link2 {
    margin-right: 70px;
}
.link3 {
    margin-right: 78px;
}
img {
    vertical-align: middle;
}
.container {
    background: #f5f6f7;
    padding: 59px 108px 94px 113px;
}
h2 {
    /*font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;*/
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    text-align: left;
    text-transform: uppercase;
    margin: 0px 0px 34px 229px;
}
p {
    /*font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;*/
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
}
button {
    color: white;
    background: #16a085;
    /*font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;*/
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    padding: 23px 45px 18px 43px;
    border: 0px;
    border-radius: 3px;
    margin: 41px 0px 0px 414px;
}
footer {
    /*font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;*/
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: left;
    padding: 47px 104px 45px 768px;
}
