body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1160px;
}
img {
    width: 100%;
    height: 100%;
}
#pointer {
    height: 57px;
    width: auto;
}
#dimond {
    height: 45px;
    width: auto;
}
#lamp {
    height: 56px;
    width: auto;
}
#pc {
    height: 46px;
    width: auto;
}
.header-section {
    height: 837px;
    background-image: url("../img/header background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header {
    height: 72px;
    background-color: rgba(50,50,50,0.6);
}
.logo {
    padding-top: 17px;
    margin-left: 231px;
    margin-right: 157px;
    float: left;
}
.hexagon {
    float: left;
    margin-right: 5px;
}
.hexagon-up {
    width: 0;
    height: 0;
    border: 10px solid #18cfab;
    border-top-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
    border-left-width: 17px;
    border-right-width: 17px;
}
.hexagon-inside {
    width: 34px;
    height: 20px;
    background-color: #18cfab;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.hexagon-down {
    width: 0;
    height: 0;
    border: 10px solid #18cfab;
    border-bottom-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
    border-left-width: 17px;
    border-right-width: 17px;
}
.logo-text {
    margin-top: 13px;
    font-size: 14px;
    color: #ffffff;
    float: left;
}
.logo-text > span {
    font-weight: bold;
    color: #18cfab;
}
.header-menu {
    margin-top: 25px;
    float: left;
    width: 389px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}
.header-menu > li {
    list-style-type: none;
}
.header-menu > li > a {
    text-decoration: none;
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b8b8b8;
    padding-bottom: 32px;
    border-bottom: 1px solid transparent;
}
.header-menu > li > a:hover {
    border-bottom: 1px solid #18cfab;
    color: #18cfab;
}
header > a > i {
    color: #b8b8b8;
    margin-top: 27px;
}
header > a > i:hover {
    color: #18cfab
}
.about {
    margin-top: 149px;
    margin-bottom: 147px;
    height: 243px;
    color: #ffffff;
    text-align: center;
}
.about-first-par {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.about-first-par > span {
    color: #18cfab;
}
.about-second-par {
    font-size: 37px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.about-third-par {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 86px;
}
.content-btn {
    width: 100px;
    height: 37px;
    border-radius: 3px;
    border: none;
    font-size: 7px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 -2.5px 0 #ffffff;
    cursor: pointer;
}
.explore-btn {
    background-color: #18cfab;
    margin-right: 17px;
}
.purchase-btn {
    background-color: #00cbf6;
}
.skills {
    display: grid;
    grid-template-rows: 226px;
    grid-template-columns: 25% 25% 25% 25%;
}
.skills > div {
    height: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.skills > div:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 4px solid #18cfab;
}
.skills > div:nth-child(even) {
    background-color: #18cfab;
    color: #ffffff;
    border-top: 4px solid #ffffff;
}
.skills-content {
    width: 100%;
    position: absolute;
    bottom: 72px;
}
.skills-content > p {
    margin-top: 30px;
}
.service-section {
    height: 337px;
    background-color: #ffffff;
}
.section-text {
    padding-top: 50px;
    color: rgba(78, 78, 78, 255);
    font-size: 20px;
    text-align: center;
}
.section-text-alt {
    padding-top: 50px;
    color: rgba(255, 255, 255, 255);
    font-size: 20px;
    text-align: center;
}
.first-underline, .second-underline {
    width: 46px;
    border-top: 1px solid #18cfab;
}
.first-underline {
    margin-top: 22px;
    margin-left: 554px;
}
.second-underline {
    margin-top: 2px;
    margin-left: 561px;
}
#service-menu {
    margin-top: 42px;
    width: 690px;
    display: grid;
    grid-template-rows: 44px;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: rgba(113, 113, 113, 255);
    background-color: #f8fcfe;
    position: relative;
}
#service-menu > li {
    border: 1px solid #eeeeef;
    height: 100%;
    list-style-type: none;
    cursor: pointer;
}
#service-menu > li > p {
   margin-top: 17px;
}
#triangle {
    position: absolute;
    left: 49px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}
.active {
    border: 1px solid #18cfab;
    color: #eeeeef;
    background-color: #18cfab;
}
.service-content {
    width: 685px;
    height: 84px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.service-content-img {
    width: 117px;
    float: left;
}
.service-content-img > img {
    width: 100%;
    height: 100%;
}
.service-content-text {
    width: 559px;
    font-size: 8px;
    color: rgba(119, 119, 119, 255);
    text-align: justify;
    float: right;
    line-height: 1.8;
}
.purchase-section {
    height: 288px;
    text-align: center;
    background-attachment: fixed;
    background-image: url("../img/purchase background.jpg");
    background-size: cover;
    position: relative;
    z-index: -1;
}
.purchase-section::before {
    content: "";
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
}
.purchase-first-par {
    padding-top: 77px;
    font-size: 24px;
    font-weight: bolder;
    color: rgba(24, 207, 171, 255);
    /*text-align: center;*/
    text-transform: uppercase;
}
.purchase-second-par {
    margin-top: 21px;
    font-size: 10px;
    color: rgba(216, 216, 216, 255);
    /*text-align: center;*/
}
.purchase-section-btn {
    margin-top: 46px;
    background-color: #18cfab;
}
.work-section {
    /*height: 733px;*/
    background-color: #f8fcfe;
    text-align: center;
}
#work-menu {
    margin-top: 42px;
    width: 368px;
    display: grid;
    grid-template-rows: 35px;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 9px;
    color: rgba(113, 113, 113, 255);
    background-color: #ffffff;
    position: relative;
}
#work-menu > li {
    border: 1px solid #eeeeef;
    list-style-type: none;
    cursor: pointer;
}
#work-menu > li > p {
    padding-top: 14px;
}
#work-menu > li:hover {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}
#work-menu > li:hover p {
    padding-top: 13px;
}
#work-section-imgs {
    margin-top: 42px;
    width: 689px;
    display: grid;
    grid-auto-rows: 125px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-right: auto;
    margin-left: auto;
}
#work-section-imgs > div {
    position: relative;
}
#work-section-imgs > div:hover .work-img {
    visibility: hidden;
}
#work-section-imgs > div:hover .alt-work-img {
    z-index: 1;
}
.alt-work-img {
    width: 100%;
    height: 100%;
    text-align: center;
    border-top: 2px solid #18cfab;
    z-index: -1;
    position: absolute;
    top: 0;
}
.first-click, .second-click, .on-load {
    display: none;
}
.circle {
    width: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 27px;
    margin-bottom: 20px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    cursor: pointer;
    color: #18cfab;
    font-size: 11px;
}
.circle:hover {
    background-color: #18cfab;
    color: #f8fcfe;
}

.alt-work-first-par {
    font-size: 12px;
    color: rgba(24, 207, 171, 255);
    margin-bottom: 9px;
    text-transform: uppercase;
    font-weight: bolder;
}
.alt-work-second-par {
    font-size: 10px;
    color: rgba(138, 138, 138, 255);
}
.load-btn {
    margin-top: 43px;
    background-color: #18cfab;
    position: relative;
    margin-bottom: 60px;
}
.load-btn > p {
    display: inline-block;
}
.load-btn > p:first-child {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 7px;
    left: 14px;
}
.load-btn > p:last-child {
    position: absolute;
    top: 15px;
    left: 37px;
}
.news-section {
    height: 580px;
}
.news-section-content {
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    width: 689px;
    height: 366px;
    display: grid;
    grid-template-rows: 170px 170px;
    grid-template-columns: 160px 160px 160px 160px;
    align-content: space-between;
    justify-content: space-between;
}
.news-section-content > a {
    text-decoration: none;
}
.news-section-content > a:hover .news-section-content-date {
    background-color: #18cfab;
}
.news-section-content > a:hover .news-section-content-text > p:first-child {
    color: #18cfab;
}
.news-section-content > a > div {
    position: relative;
}
.news-section-content-img {
    height: 74%;
}
.news-section-content-text {
    height: 26%;
    background-color: #f8fcfe;
}
.news-section-content-text > p:first-child {
    font-size: 11px;
    color: rgba(113, 113, 113, 255);
    font-weight: bold;
    margin-left: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
}
.news-section-content-text > p:last-child {
    font-size: 9px;
    color: rgba(119, 119, 119, 255);
    font-weight: lighter;
    margin-left: 10px;
}
.news-section-content-date {
    height: 40px;
    width: 41px;
    background-color: #203e38;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 1.5;
}
.news-section-content-date > p {
    margin-top: 5px;
}
.team-section {
    height: 515px;
    background-image: url("../img/team background.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.team-section > i {
    color: #18cfab;
    font-size: 26px;
    margin-top: 42px;
}
.team-section-slogan {
    width: 664px;
    height: 27px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    font-size: 9px;
    line-height: 1.7;
    color: rgba(187, 187, 187, 255);
    text-align: center;
}
.team-section-name {
    height: 26px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.team-section-name > p:first-child {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 255);
}
.team-section-name > p:last-child {
    margin-top: 7px;
    font-size: 8px;
    color: rgba(187, 187, 187, 255);
}
.mainfoto-border {
    margin-top: 16px;
    height: 100px;
    width: 100px;
    background: rgba(24, 207, 171, 0.2);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    position: relative;
}
.team-section-mainfoto {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    border: 2px solid #18cfab;
    position: absolute;
    top: 6px;
    left: 6px;
    overflow: hidden;
}
.gallery-section {
    height: 898px;
    text-align: center;
}
.gallery-section-img {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    height: 557px;
    width: 689px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.gallery-section-img > div {
    width: 223px;
    margin-bottom: 6px;
    position: relative;
}
.gallery-section-img > div:nth-child(1) {
    height: 157px;
}
.gallery-section-img > div:nth-child(2) {
    height: 157px;
}
.gallery-section-img > div:nth-child(3) {
    height: 175px;
}
.gallery-section-img > div:nth-child(4) {
    height: 229px;
}
.gallery-section-img > div:nth-child(5) {
    height: 149px;
}
.gallery-section-img > div:nth-child(6) {
    height: 157px;
}
.gallery-section-img > div:nth-child(7) {
    height: 273px;
}
.gallery-section-img > div:nth-child(8) {
    height: 225px;
}
.gallery-section-inside-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inside-block-main {
    width: 110px;
    height: 101px;
    padding-bottom: 2px;
    position: relative;
}
.inside-block-sub {
    width: 73px;
    height: 55px;
    padding-bottom: 2px;
}
.gallery-section-img-cover, .gallery-section-img-cover-inside {
    background-color: black;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.5s ease-out;
}
.gallery-section-img > div:hover .gallery-section-img-cover, .inside-block-main:hover .gallery-section-img-cover-inside {
    opacity: .6;
}
.gallery-section-img-btns {
    position: absolute;
    top: 45%;
    left: 20%;
    right: 20%;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.gallery-section-img-btns-inside {
    position: absolute;
    top: 38%;
    left: 20%;
    right: 20%;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.gallery-section-img > div:hover .gallery-section-img-btns, .inside-block-main:hover .gallery-section-img-btns-inside {
    opacity: 1;
}
.gallery-section-img-btns > button, .gallery-section-img-btns-inside > button {
    cursor: pointer;
    border-radius: 2px;
    border: none;
    height: 22px;
    background-color: #14b9d5;
    color: white;
}
footer {
    width: 100%;
    height: 65px;
    line-height: 65px;
    margin-top: 50px;
    background-color: #22353f;
    text-align: center;
    vertical-align: middle;

}
footer > p {
    font-size: 9px;
    color: rgba(174, 174, 174, 255);
}
footer > p > a {
    text-decoration: none;
    color: #18cfab;
}
#bubbles{
    height: 37px;
    padding-top: 43px;
    padding-bottom: 60px;
    position:relative;
}
.bubble{
    display:inline-block;
}
.bubble .circleL{
    width:20px; height:20px;
    border-radius:50%;
    background:#18cfab;
    animation: pulse 1.5s infinite;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(0.2); opacity:0.75; }
    100%{ transform: scale(1); }
}
#bubbles > .bubble:nth-child(1) .circleL {
    animation-delay: 0.0s;
}
#bubbles > .bubble:nth-child(2) .circleL {
    animation-delay: 0.25s;
}
#bubbles > .bubble:nth-child(3) .circleL {
    animation-delay: 0.5s;
}
#bubbles > .bubble:nth-child(4) .circleL {
    animation-delay: 0.75s;
}
.additional-padding {
    padding-bottom: 60px;
}
.slider {
    height: 49px;
    width: 218px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.slider > div {
    height: 100%;
}
.slider img {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid rgba(24, 207, 171, 0.2);
    cursor: pointer;
}
.slider img:hover {
    margin-top: 0;
}




