.banner {
    width: 88%;
    height: 280px;
    background-image: url(../../../images/MovieCollage.png);
    background-size: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto 17px;
}
.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
}
.banner-inner-container {
    position: relative;
    z-index: 2;
    width: 600px;
    height: 100%;
    margin: 0px auto;
}
.banner-article {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto 27px;
    padding-top: 76px;
    font-size: 31px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}